
@import "tooltip";
// Fix vs-modal overflow
// ====================================================================

.vs-modal__container {
  overflow: visible !important;
}

.vs-modal__body {
  overflow-y: unset !important;
}
.vs-list--title {
  font-weight: normal;
}
.vs-list--subtitle {
  font-weight: 600;
}

.vs-popup--content {
  overflow-x: hidden !important;
}

.tooltip {
  display: block !important;
  z-index: 100001;
}
[dir=ltr] .v-nav-menu .feather-icon {
  margin-right: 14px;
  margin-left: 14px;
}

.v-select {
  .vs__search,
  .vs__selected,
  .vs__dropdown-option {
    font-size: 1rem;
  }

  .vs__dropdown-menu {
    padding: 0;
  }

  &.v-select-danger {
    .vs__dropdown-toggle {
      border-color: var(--danger);
    }
  }
}
