
@import "tooltip";
// Fix vs-modal overflow
// ====================================================================

.vs-modal__container {
  overflow: visible !important;
}

.vs-modal__body {
  overflow-y: unset !important;
}
.vs-list--title {
  font-weight: normal;
}
.vs-list--subtitle {
  font-weight: 600;
}

.vs-popup--content {
  overflow-x: hidden !important;
}
