#ll931217-vue-treeview ul li .branch {
  color: #4d5760 !important;
}

#ll931217-vue-treeview {
  background-color: white !important;
  box-shadow: none !important;
}

#ll931217-vue-treeview ul li .branch .value {
  color: #671e85 !important;
}
